<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" autocomplete="off" checked="checked" />
        <span class="glyphicon glyphicon-check"></span>
        <span class="glyphicon glyphicon-eur"></span>
    </label>

    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off" />
        <span class="glyphicon glyphicon-check"></span>
        <span class="glyphicon glyphicon-usd"></span>
    </label>

    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off" />
        <span class="glyphicon glyphicon-check"></span>
        <span class="glyphicon glyphicon-gbp"></span>
    </label>

    <label class="btn btn-primary">
        <input type="radio" name="options" id="option4" autocomplete="off" />
        <span class="glyphicon glyphicon-check"></span>
        <span class="glyphicon glyphicon-yen"></span>
    </label>
</div>
<style>
    .btn span.glyphicon-check {
        opacity: 0.2;
    }

    .btn.active span.glyphicon-check {
        opacity: 1;
    }
</style>